@* @model IEnumerable<ParcialLibros.Models.Autor> *@
@using ParcialLibros.ViewModels;
@model AutorViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Autores</h1>

<p>
    <a asp-action="Create">Crear nuevo autor</a>
</p>
<div class="row">
    <form method="get" asp-action="Index" asp-controller="Autor">
        <div class="col-6 form-group m-2">
            <input placeholder="Nombre o apellido del Autor" class="form-control" asp-for="NameFilter">
        </div>
        <button class="btn btn-warning" type="sumbit">Buscar</button>
        <a asp-action="Index" class="btn btn-primary">Recargar</a>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Autors[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autors[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autors[0].Apellido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Autors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Ver Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
