@* @model IEnumerable<ParcialLibros.Models.Libro> *@

@using ParcialLibros.ViewModels;
@using ParcialLibros.Models
@model LibrosViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Ingresar un nuevo Comic al Sistema</h1>

<p>

    <a asp-action="Create">Crear Libro</a>
</p>
<div class="row">
    <form method="get" asp-action="Index" asp-controller="Libro">
        <div class="col-6 form-group m-2">
            <input placeholder="Nombre o Editorial" class="form-control" asp-for="NameFilter">
        </div>
        <button class="btn btn-info" type="sumbit">Buscar</button>
        
    </form>
</div>
<table class="table m-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Libros[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Libros[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Libros[0].Editorial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Libros[0].Autor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Libros)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Editorial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AutorId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Ver detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
