@* @model IEnumerable<ParcialLibros.Models.Proovedor> *@
@using ParcialLibros.ViewModels;
@model ProovedoresViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Proovedores</h1>

<p>
    <a asp-action="Create">Crear Proovedor</a>
</p>

<div class="row">
    <form method="get" asp-action="Index" asp-controller="Proovedor">
        <div class="col-6 form-group m-2">
            <input placeholder="Nombre del Proovedor" class="form-control" asp-for="NameFilter">
        </div>
        <button class="btn btn-warning" type="sumbit">Buscar</button>
        <a asp-action="Index" class="btn btn-primary">Recargar</a>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Proovedores[0].Nombre)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Proovedores)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
