@* @model IEnumerable<ParcialLibros.Models.Venta> *@
@using ParcialLibros.ViewModels;
@model VentaViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nueva Venta</a>
</p>

<div class="row">
    <form method="get" asp-action="Index" asp-controller="Venta">
        <div class="col-6 form-group m-2">
            <input placeholder="Nombre del libro" class="form-control" asp-for="NameFilter">
        </div>
        <button class="btn btn-warning" type="sumbit">Buscar</button>
        <a asp-action="Index" class="btn btn-primary">Recargar</a>
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ventas[0].NombreLibro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ventas[0].Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ventas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreLibro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
